<!-- Contact Information -->
<ul class="flex mt-8 items-center sm:items-start lg:mt-0 flex-col gap-1">
    <li class="tracking-tight text-purple-300 text-lg flex items-center gap-1 group">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 group-hover:animate-bounce">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
        </svg>
        <span>May 28th, 1995</span>
    </li>
    <li>
        <a class="group tracking-tight text-purple-300 text-lg flex items-center gap-1" target="_blank"
            title="Beyhond this place, there be dragons" href="https://github.com/DarVoid">
            <div class="group-hover:animate-bounce" id="github-icon" hx-get="/icons/github" hx-trigger="load"></div>
            <span>DarVoid</span>
        </a>
    </li>
    <li>
        <a class="group tracking-tight text-purple-300 text-lg flex items-center gap-1" title="Call me maybe"
            href="tel:+351933110505">
            <div class="group-hover:animate-bounce" id="cell-icon" hx-get="/icons/cell" hx-trigger="load"></div>
            <span>
                +351 933 11 05 05
            </span>
        </a>
    </li>
    <li>
        <a class="group tracking-tight text-purple-300 text-lg flex items-center gap-1" title="email"
            href="mailto:jorgeraposoduque@gmail.com?subject=You're%20hired">
            <div class="group-hover:animate-bounce" id="google-icon" hx-get="/icons/google" hx-trigger="load"></div>
            <span>jorgeraposoduque@gmail.com</span>
        </a>
    </li>

</ul>