<!-- Contact Information -->
<p class="text-sm">Casa</p>
<p class="text-sm"><a target="_blank" title="Beyhond this place, there be dragons" href="https://github.com/DarVoid">
        <div id="github-icon" class="inline-block" hx-get="/icons/github" hx-trigger="load"></div>
        https://github.com/DarVoid
    </a></p>
<p class="text-sm"><a title="Call me maybe" href="#">
        <div id="cell-icon" class="inline-block" hx-get="/icons/cell" hx-trigger="load"></div>
        +351 933 11 05 05

    </a></p>
<p class="text-sm"><a title="email" href="mailto:jorgeraposoduque@gmail.com">
        <div id="google-icon" class="inline-block" hx-get="/icons/google" hx-trigger="load"></div>
        jorgeraposoduque@gmail.com
    </a></p>