<div class="right-padded">
    <p><b>B-Day</b> May, 28th, 1995</p>
    <p class="no-decor">
        <a target="_blank" title="Beyhond this place, there be dragons" href="https://github.com/DarVoid">
            <div id="github-icon" class="github-icon icon" hx-get="/icons/github" hx-trigger="load"></div>
            https://github.com/DarVoid
        </a>
    </p>
    <p class="no-decor"><a title="Call me maybe" href="#">
            <div id="cell-icon" class="cell-icon icon" hx-get="/icons/cell" hx-trigger="load"></div>
            +351 933 11 05 05

        </a></p>
    <p class="no-decor"><a title="email" href="mailto:jorgeraposoduque@gmail.com">
            <div id="google-icon" class="google-icon icon" hx-get="/icons/google" hx-trigger="load"></div>
            jorgeraposoduque@gmail.com
        </a> </p>
</div>