<div>
    <h1>Education</h1>
    <div class="table">
        <div class="row-entry">
            <div class="row">
                <div class="column-date">
                    2017 to 2020
                </div>
                <div class="column-title">
                    Computer Engineering
                </div>
                <div class="column-place">
                    Bachelor's Degree
                    <a href="https://bit.ly/2IsX53k">
                        IPT
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column-empty-space">

                </div>
                <div class="column-content">
                    <ul>
                        <li>
                            Project: Web App Time-Matters which tags temporal expressions
                            on texts then rendering web elements related to those texts in a
                            user friendly interface.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>