<div class="w-full flex flex-wrap gap-6 mb-6">
    <div class="md:w-1/4 lg:w-1/6 xl:w-1/8 w-full">
        <div class="flex items-center gap-1 text-gray-400 font-semibold text-sm tracking-tight">
            <span>%v</span>
            <span class="w-4 h-4" hx-get="/icons/seta" hx-trigger="load"></span>
            <span>%v</span>
        </div>
    </div>
    <div class="flex-1 pr-16">
        <div class="flex items-center flex-wrap justify-between">
            <div class="w-full sm:w-auto">
                <h1 class="text-2xl font-semibold tracking-tight text-purple-900">
                    %v<!--Jobtitle-->
                </h1>
            </div>
            <div class="flex items-center gap-4">
                <p>%v<!--Company--></p>
                <a target="_blank" href="%v">
                    <div class="inline-block" hx-get="/icons/landmark" hx-trigger="load"></div>
                    %v <!--Where-->
                </a>
            </div>
        </div>
        <div class="mt-2">
            <div>
                <div class="col-span-4 text-gray-900 leading-tight">
                    %v <!--Description-->
                    <!-- <ul>
                    <li>
                        Developed, tested, and maintained a web App for Infrastructure as Code.
                    </li>
                    <li>
                        Created and managed GitHub actions and reusable workflows to ensure code quality.
                    </li>
                    <li>
                        Collaborated with Product Owner and Stakeholders to define project vision and roadmap.
                    </li>
                </ul> -->
                </div>
            </div>
            <div class="tracking-tight ">
                <b>Stack:</b> %v
            </div>
        </div>
    </div>
</div>