<h1 class="font-white">
    FAQ
</h1>
<h2 class="half-left-padded font-white">
    Motivation?
</h2>
<div class="half-left-padded">
    <a href="#" title="hey... you want stuff to work I want money fair deal">
        Money<div id="money-bags-icon" class="money-bags-icon icon" hx-get="/icons/money-bags" hx-trigger="load">
        </div>
    </a>
</div>
<!-- add bling animation on whole page dollar bills falling-->
<div class="half-left-padded">
    <a href="#" title="I have no life ;____; , my idea of fun is learning new technologies and doing side projects">
        Self-Improvement/Challenges
    </a>
</div>
<div class="half-left-padded">
    <a href="#" title="(I like having nice things and if I can't have them... I make them)">
        Doing nice things
    </a>
</div>
<div class="half-left-padded">
    <a href="#"
        title="I'm constantly doing side projects so... I was kinda forced to learn this so I they'd work after not touching them for some time :'D">
        Devops
    </a>
</div>
<div class="half-left-padded">
    <a href="#"
        title="I am continuosly looking to approach my dream stack Go + Angular + graphQL or Go + HTMX and Mongo">
        Stack
    </a>
</div>
<h2 class="half-left-padded font-white">
    Currently Furthering knowledge on:
</h2>
<div class="half-left-padded">
    <div>
        <a href="#" title="my projects sometimes become kinda big so I need clusters 🤔">
            Helm <div id="helm-icon" class=" helm-icon icon" hx-get="/icons/helm" hx-trigger="load"></div>
        </a>
    </div>
    <div>
        <a href="#" title="my projects sometimes become kinda big so I need clusters 🤔">
            Kubernetes <div id="kebernetes-icon" class=" kebernetes-icon icon" hx-get="/icons/kubernetes"
                hx-trigger="load">
            </div>
        </a>
    </div>
    <div>
        <a href="#" title="I just like their documentation 📚 better in comparison to AWS and Azure...">
            GCP <div id="gcp-icon" class=" gcp-icon icon" hx-get="/icons/gcp" hx-trigger="load"></div>
        </a>
    </div>
    <div>
        <a href="#" title="Dope Stuuuuuuuuff 😀 weeee">
            HTMX <div id="htmx-icon" class=" htmx-icon icon" hx-get="/icons/htmx" hx-trigger="load"></div>
        </a>
    </div>
    <div>
        <a href="#"
            title="I know... 😮‍💨 I know it sounds basic 👀 but with HTMX I wanted to get back to basics and try to implement minimal beautiful performant interfaces">
            CSS <div id="css-icon" class=" css-icon icon" hx-get="/icons/css" hx-trigger="load"></div>
        </a>
    </div>
</div>