<div class="p-4 space-y-4">
    <div>
        <h2 class="text-lg font-semibold tracking-tighter">
            Currently furthering knowledge on:
        </h2>

        <a href="#" class="flex items-center gap-1 group">
            <div class="group-hover:animate-bounce" id="go-icon" hx-get="/icons/go" hx-trigger="load"></div>
            <span>Go</span>
        </a>

        <a href="#" class="flex items-center gap-1 group"
            title="my projects sometimes become kinda big so I need clusters 🤔">
            <div class="group-hover:animate-bounce" id="helm-icon" hx-get="/icons/helm" hx-trigger="load"></div>
            <span>Helm</span>
        </a>

        <a href="#" class="flex items-center gap-1 group"
            title="my projects sometimes become kinda big so I need clusters 🤔">
            <div class="group-hover:animate-bounce" id="kubernetes-icon" hx-get="/icons/kubernetes" hx-trigger="load">
            </div>
            <span>Kubernetes</span>
        </a>

        <a href="#" class="flex items-center gap-1 group"
            title="I just like their documentation 📚 better in comparison to AWS and Azure...">
            <div class="group-hover:animate-bounce" id="gcp-icon" hx-get="/icons/gcp" hx-trigger="load"></div>
            <span>GCP</span>
        </a>

        <a href="#" class="flex items-center gap-1 group" title="Dope Stuuuuuuuuff 😀 weeee">
            <div class="group-hover:animate-bounce" id="htmx-icon" hx-get="/icons/htmx" hx-trigger="load"></div>
            <span>HTMX</span>
        </a>

        <a href="#" class="flex items-center gap-1 group"
            title="I know... 😮‍💨 I know it sounds basic 👀 but with HTMX I wanted to get back to basics and try to implement minimal beautiful performant interfaces">
            <div class="group-hover:animate-bounce" id="css-icon" hx-get="/icons/css" hx-trigger="load"></div>
            <span>CSS</span>
        </a>
    </div>
    <div>
        <h2 class="text-lg font-semibold tracking-tighter">
            Motivation?
        </h2>

        <a href="#" class="flex items-center gap-1 group" title="hey... you want stuff to work I want money fair deal">
            <div class="group-hover:animate-bounce" hx-get="/icons/money-bags" hx-trigger="load"></div>
            <span>Money</span>
        </a>

        <a href="#" class="flex items-center gap-1 group"
            title="I have no life ;____; , my idea of fun is learning new technologies and doing side projects">
            <div class="group-hover:animate-bounce" hx-get="/icons/self-improve" hx-trigger="load"></div>
            <span>Self-Improvement/Challenges</span>
        </a>

        <a href="#" class="flex items-center gap-1 group"
            title="(I like having nice things and if I can't have them... I make them)">
            <div class="group-hover:animate-bounce" hx-get="/icons/nice-things" hx-trigger="load"></div>
            <span>Doing nice things</span>
        </a>

        <a href="#" class="flex items-center gap-1 group"
            title="I'm constantly doing side projects so... I was kinda forced to learn this so they'd work after not touching them for some time :'D">
            <div class="group-hover:animate-bounce" hx-get="/icons/devops" hx-trigger="load"></div>
            <span>Devops</span>
        </a>

        <a href="#" class="flex items-center gap-1 group"
            title="I am continuously looking to approach my dream stack Go + Angular + graphQL or Go + HTMX and Mongo">
            <div class="group-hover:animate-bounce" hx-get="/icons/stack" hx-trigger="load"></div>
            <span>Stack</span>
        </a>


    </div>
    <div>
        <h2 hx-on="click:openModal()" hx-get="/skills" hx-target="#overlay-content"
            class="text-lg font-semibold tracking-tighter">
            Languages
        </h2>
        <a href="#" class="flex items-center gap-1 group" title="I refuse to work with any other operating system">
            <span>
                Portuguese: native
            </span>
        </a>
        <a href="#" class="flex items-center gap-1 group" title="I refuse to work with any other operating system">
            <span>
                English: native
            </span>
        </a>
    </div>
</div>