<div class="header-spread">
    <div class="left-card-wrapper">
        <div class="image-container">
            <img src="/assets/duque.png" />
            <div class="my_name"> Jorge Duque</div>
            <div class="job_title"> Developer</div>
        </div>
        <div id="header-traits" class="header-traits" hx-get="/traits" hx-trigger="load"></div>
        <!--TODO: meter isto tipo como esta no CV do overleaf-->

    </div>
    <div id="header-contacts" class="header-contacts" hx-get="/header-contacts" hx-trigger="load"></div>
</div>