<header class="bg-purple-800 text-white p-4">
    <div class="container mx-auto flex items-center">
        <div class="w-1/5">
            <!-- Your Profile Picture -->
            <img class="rounded-full h-45 w-45" src="/assets/duque.png" hx-get="/pic/2" hx-swap="outerHTML" />

        </div>
        <!-- <div class="w-1/4" hx-get="/traits" hx-trigger="load"></div> -->
        <div class="w-1/5">
            <h1 class="mt-16 ml-16 text-4xl">
                Jorge Duque
            </h1>
            <h1 class=" ml-16 text-3xl">
                Developer
            </h1>
        </div>
        <div class="w-2/5"></div>
        <div class="w-1/5" hx-get="/header-contacts" hx-trigger="load"></div>

    </div>
</header>