<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- scripts being imported straight away so functionality exists when/if it's called-->
</head>

<body>
    <div class="layout">

        <div id="master-header" class="master-header" hx-get="/header" hx-trigger="load"></div>
        <div class="master-box-vert">
            <div class="master-box-hor">
                <div id="master-leftpane" class="master-leftpane" hx-get="/leftpane" hx-trigger="load"></div>
                <div id="master-content" class="master-content" hx-get="/content" hx-trigger="load"></div>

            </div>
            <!-- <div id="master-footer" class="master-footer" hx-get="/footer" hx-trigger="load"></div> -->
        </div>

    </div>
</body>
<link rel="stylesheet" href="http://localhost:8080/assets/style.css">
<!-- Gorgeous style comming in as a regular asset xD-->
<!-- styles at the end so content loads and the style is applied-->

</html>