<br>
<h1 class="font-white">
    Skills & Traits
</h1>
<div class="half-left-padded">

    <h2 class="font-white">
        Languages & Core skills
    </h2>
    <ul>
        <li class="font-white"> Go
            <div id="go-icon" class="go-icon icon" hx-get="/icons/go" hx-trigger="load"></div>

        </li>
        <li class="font-white"> GraphQL
            <div id="graphql-icon" class=" graphql-icon icon" hx-get="/icons/graphql" hx-trigger="load"></div>
        </li>
        <li class="font-white"> Javascript/Typescript
            <div id="javascript-icon" class=" javascript-icon icon" hx-get="/icons/javascript" hx-trigger="load">
            </div>

        </li>
        <li class="font-white"> Docker
            <div id="docker-icon" class=" docker-icon icon" hx-get="/icons/docker" hx-trigger="load"></div>

        </li>
        <li class="font-white"> Angular
            <div id="angular-icon" class=" angular-icon icon" hx-get="/icons/angular" hx-trigger="load"></div>

        </li>
        <li class="font-white"><a href="#" title="I refuse to work with any other operative system">
                Linux
                <div id="linux-icon" class=" linux-icon icon" hx-get="/icons/linux" hx-trigger="load"></div>
            </a>
        </li>
    </ul>

    <h2 class="font-white">
        <a href="#" title="(according to managers and peers)">
            Traits </a>
    </h2>
    <ul class="reverse-half-left-padded">
        <li class="font-white"> creative problem solver </li>
        <li class="font-white"> leader </li>
        <li class="font-white"> transparent </li>
        <li class="font-white"> mentor </li>
        <li class="font-white"> team player </li>
        <li class="font-white"> team curious </li>
        <li class="font-white"> opinionated </li>
        <li class="font-white"> fun </li>
    </ul>
</div>