<div class="p-4 space-y-4">
    <h1 class="text-2xl font-bold tracking-tighter">
        Skills & Traits
    </h1>

    <div>
        <h2 hx-on="click:openModal()" hx-get="/skills" hx-target="#overlay-content"
            class="text-lg font-semibold tracking-tighter">
            Languages & Core skills
        </h2>

        <a href="#" class="flex items-center gap-1">
            <div id="go-icon" hx-get="/icons/go" hx-trigger="load"></div>
            <span>Go</span>
        </a>

        <a href="#" class="flex items-center gap-1">
            <div id="graphql-icon" hx-get="/icons/graphql" hx-trigger="load"></div>
            <span>GraphQL</span>
        </a>

        <a href="#" class="flex items-center gap-1">
            <div id="javascript-icon" hx-get="/icons/javascript" hx-trigger="load"></div>
            <span>
                Javascript/Typescript
            </span>
        </a>

        <a href="#" class="flex items-center gap-1">
            <div id="docker-icon" hx-get="/icons/docker" hx-trigger="load"></div>
            <span>
                Docker
            </span>
        </a>

        <a href="#" class="flex items-center gap-1" title="I refuse to work with any other operating system">
            <div id="linux-icon" hx-get="/icons/linux" hx-trigger="load"></div>
            <span>
                Linux
            </span>
        </a>

    </div>
</div>