<div
    class="hover:opacity-100 opacity-0 transition-opacity duration-1000 flex h-full flex-col items-center justify-center">
    <h4 class="text-purple-400 font-semibold tracking-tight text-2xl">
        Traits
    </h4>
    <div class="p-8 mt-2 flex-1 w-full gap-2 flex-wrap flex items-center justify-center">
        <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow-md text-purple-200">
            leader
        </div>
        <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow text-purple-200">
            creative problem solver
        </div>
        <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow text-purple-200">
            transparent
        </div>
        <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow text-purple-200">
            mentor
        </div>
        <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow text-purple-200">
            team player
        </div>
        <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow text-purple-200">
            curious
        </div>
        <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow text-purple-200">
            opinionated
        </div>
        <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow text-purple-200">
            fun
        </div>
    </div>
</div>