<div
    class="hover:opacity-100 opacity-0 transition-opacity duration-1000 flex h-full flex-col items-center justify-center">
    <h4 hx-on="click:openModal()" hx-get="/traits" hx-target="#overlay-content"
        class="text-purple-400 font-semibold tracking-tight text-2xl">
        Traits
    </h4>
    <div class="p-8 mt-2 flex-1 w-full gap-2 flex-wrap flex items-center justify-center">

        {{range . }}
        <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow text-purple-200">
            {{ . }}
        </div>
        {{end}}

        <!-- <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow text-purple-200">
            creative
        </div>
        <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow text-purple-200">
            transparent
        </div>
        <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow text-purple-200">
            mentor
        </div>
        <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow text-purple-200">
            team player
        </div>
        <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow text-purple-200">
            curious
        </div>
        <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow text-purple-200">
            opinionated
        </div>
        <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow text-purple-200">
            fun
        </div>
        <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow text-purple-200">
            effective communicator
        </div>
        <div class="bg-purple-700 md:rounded-full rounded-lg px-3 py-1 shadow text-purple-200">
            adaptable
        </div> -->
    </div>
</div>