<h2 class="font-white">
    <a href="#" title="(according to managers and peers)">
        Traits </a>
</h2>
<div class="font-white reg-size-font">
    <a href="#">
        creative problem solver
    </a>
</div>
<div class="font-white reg-size-font">
    <a href="#">
        leader
    </a>
</div>
<div class="font-white reg-size-font">
    <a href="#">
        transparent
    </a>
</div>
<div class="font-white reg-size-font">
    <a href="#">
        mentor
    </a>
</div>
<div class="font-white reg-size-font">
    <a href="#">
        team player
    </a>
</div>
<div class="font-white reg-size-font">
    <a href="#">
        curious
    </a>
</div>
<div class="font-white reg-size-font">
    <a href="#">
        opinionated
    </a>
</div>
<div class="font-white reg-size-font">
    <a href="#">
        fun
    </a>
</div>