<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jorge Duque</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

</head>

<body class="bg-gray-100 select-none">
    <!-- Header Section -->
    <div hx-get="/header" hx-trigger="load"></div>
    <!-- Main Content Section -->
    <div class="container mx-auto p-4 mt-4 flex flex-row-reverse flex-wrap">
        <!-- Main Content -->
        <div class="flex-1 p-4 bg-white shadow-md rounded-md">
            <h2 class="text-2xl font-semibold mb-4 tracking-tighter">Professional Summary</h2>
            <p>
                I'm a technologist and a strong
                believer that if you can dream it
                we can build it.
                I'm also a huge advocate for
                pair programming and
                automation.
            </p>
            <h2 class="text-2xl font-semibold mt-4 mb-4">Experience</h2>
            <div class="flex flex-col" id="content-experience" hx-get="/experience-template" hx-swap="innerHTML"
                hx-trigger="load">
            </div>
            <h2 class="text-2xl font-semibold mt-4 mb-4">Education</h2>
            <div class="flex flex-col" id="content-education" hx-get="/education-template" hx-trigger="load"></div>
            </di>
        </div>
        <!-- Left Pane -->
        <div class="w-full lg:w-1/4 p-4 bg-white shadow-md rounded-md" hx-get="/leftpane" hx-trigger="load"></div>
        <!-- Traits -->
        <div class="mt-6 w-full xl:hidden block p-4 bg-white shadow-md rounded-md" hx-get="/traits" hx-trigger="load">
        </div>
</body>

</html>